<div class="">
    <div id="g_id_onload"
        data-context="signin"
        data-ux_mode="popup"
        data-client_id="{{ GOOGLE_CLIENT_ID }}"
        data-login_uri="{{ GOOGLE_LOGIN_URL }}"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
</div>