{% extends "main/base.html.twig" %}
{% import "macros/search.html.twig" as search %}
{% block title %}{% endblock %}

{% block body %}
<p>Malick</p>
<div class="container my-5" id="root"></div>

{% endblock %}
{% block javascripts %}
{% endblock %}