{% extends "main/base.html.twig" %}
{% import "macros/search.html.twig" as search %}
{% block title %}Accueil{% endblock %}

{% block body %}
<div {{ react_component('Home') }}></div>

{% endblock %}
{% block javascripts %}
{% endblock %}