<div class="mt-5 text-center">
    <p class="h3">
        {{'No results associated with search or filter'|trans}}
        {# Aucun résulat associé à la recherche ou au filtre: #}
    </p>
    <div>
        <ul>
            <li>
                {{'Check the spelling of search terms'|trans}}
                {# Vérifiez l'hortographe des termes de la recherche #}
            </li>
            <li>
                Check the category
                {# Vérifiez la categorie #}
            </li>
            <li>
                {{'Try other words'|trans}}
                {# Essayez d'autres mots #}
            </li>
        </ul>
    </div>
</div>